	<%= f.input :name, :label => "Category name" %>
	<%= f.input :orden,:collection => 0..7, :input_html => {:class => "span1"},:include_blank => false %>
	<%= f.hidden_field :_destroy %>
	<%= link_to "remove", '#', class: "remove_fields offset5 " %>
	<div><%= link_to_add_fields "Add slide", f, :slides%></div>
	<%= f.simple_fields_for :slides do |s| %>
		<%= render 'slide_fields', f: s  %>

	<% end %>
